<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    
    <header>
        <h1>Carrito</h1>
    </header>

    <main>
        <section>
            <h3>Detalles del Carrito</h3>
            <div>
                <ul id="list-cart">
                </ul>
            </div>
                <button id="btn-delete-cart">Vaciar Carrito</button>
            <a href="/">
                <button>Volver</button>
            </a>
        </section>
        <p class="error-message" id="error-message"></p>
    </main>
    <Script src="/api/public/js/carts.js"></Script>
</body>
</html>