<header>
    <h1>Home - Products</h1>
</header>
<main>
    <section>
        <h3>List Products</h3>
        <div>
            <ul id="products-list"></ul>
        </div>
        <button id="btn-refresh-products">Update list</button>
    </section>
</main>


<script src="/api/public/js/products.js"></script>