<header>
    <h1>Home - Products in Real Time</h1>
</header>
<main>
    <section>
        <h3>List Products</h3>
        <div>
            <ul id="products-list"></ul>
        </div>
    </section>
    <section class="form-container">
        <form class="form-socket" id="products-form">
            <h3>Form </h3>
            <input type="text" name="title" placeholder="Ingresa el nombre">
            <div>Status <input type="checkbox" name="status"></div>
            <input type="number" name="stock" placeholder="Ingresa el stock">
            <input type="number" name="code" placeholder="Ingesa el codigo">
            <input type="text" name="description" placeholder="Ingresa su descripcion">
            <input type="text" name="category" placeholder="Ingresa la categoria">
            <input type="price" name="price" placeholder="Ingresa el precio">
            <input type="submit" value="Keep">
        </form>
        <div>
            <h3>Delete Product</h3>
            <input type="number" id="delete-product-id">
            <button id="btn-delete-product">Delete</button>
        </div>
    </section>
    <p class="msj-error" id="error-message"></p>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/products.socket.js"></script>