* {
    box-sizing: border-box;
}

h1 {
    color: brown;
}

.error404 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error404 img {
    width: 400px;
}

.msj-error{
    color: red;
    font-size: 30px;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px ;
}
.form-socket{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}